<div class="container-fluid text-center">
  <h2>Login</h2>
    <form (submit)="login($event)">
    <div class="form-group">
      <label for="username">Username</label>
      <input  class="form-control"  id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password">
    </div>
    <div class="form-group">
      <input type="submit" class="btn-sample rounded" value="Log in">
    </div>
  </form>
</div>
