body {
    font-family: 'Gaegu', cursive;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Gaegu', cursive;
    color: #90b274;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}

.navbar {
    background-color:#474441;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px black solid;
}
.navbar-dark {
    stroke:'rgba(184, 153, 129, 0.5)';
}

.fa-elementor {
    color: rgba(76, 0, 128, 0.3);

}


.is-active {
    background-color:#f5f5f0
}

.page-footer{
    background-color: #474441;
    box-shadow: 5px -5px 4px rgba(0, 0, 0, .5);
    border: 1px black solid;
}

.nav-item > .nav-link {
    color: #fc8414;
}

.nav-inline {
    color: #fc8414;
}

ul {
    color: white;
    list-style-image: url('assets/star.png');
}

li {
    color: white;
}

p {
    color: white;
}

label {
    color:#90b274;
}

.form-control {
    background-color: #ceccca;
}

.card {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}
.card {
    background-color: #888e87;
}

.card-body {
    background-color: #acc1aa;
}

.card-text > p{
    color: black;
}

.card-header {
    width: 100%;
}

body {
    background-color: #474b51;
}

.sender {
    color: #ffa31a;
}

.littleitalian {
    font-size: 0.85em;
}

.green {
    color: green;
}

.red {
    color: #660000;
    opacity: 50%;
}

@keyframes example {
    0% {opacity: 0; top: 0;}
    25% {opacity: 25%}
    50% {opacity: 50%; top: 50%}
    75% {opacity: 75%}
    100%{opacity: 100%}
}

#boxModal {
    border: 1px solid #595959;
    background-color: #f2f2f2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 300px;
    height: 150px;
    animation-name: example;
    animation-duration: 1s;
    padding: 10px;
    background-color: #474441;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
    border: 1px black solid;

  }

  #boxBackground {
    z-index: 9;
    position: fixed; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .right {
      float: right;
      margin-right: 0;
  }

  .boxButton {
      margin-top: 20px;
  }

  .btn-sample { 
    color: #FFFFFF; 
    background-color: #5A8241; 
    border-color: #000000; 
    margin-top: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
    
  } 

  .btn-sample:active {
    transform: translateY(4px);
  }
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #FFFFFF; 
    background-color: #714DA1; 
    border-color: #000000; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #5A8241; 
    border-color: #000000; 
  } 
   
  .btn-sample .badge { 
    color: #5A8241; 
    background-color: #FFFFFF; 
  }

  .newMessages {
    display: inline;
    float: left;
    background-color: #5A8241; 
    color: black;
    border: 1px black solid;
    padding: 2px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .newMessages:hover{
      color: black;
  }

  .newMessages > a {
      color: black;
  }

  .newMessages >a:hover {
      text-decoration: none;
      background-color: #ffa31a;
  }

  .newNotifys {
    display: inline;
    float: left;
    background-color: #6dc7ff;
    color: black;
    border: 1px black solid;
    padding: 2px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .newNotifys:hover{
      color: black;
  }

  .newNotifys > a {
      color: black;
  }

  .newNotifys >a:hover {
      text-decoration: none;
      background-color: #ffa31a;
  }


  .fa-searchengin {
    color: #ffa31a;
  }

  .fa-trash-alt {
      margin-left: 10px;
  }

  .fa-check {
      margin-left: 10px;
  }


