<div class="container-fluid text-center">
<h1>Welcome</h1>

<p>
    Palasin juuri uudesta koulustani, sain tänään tietää, että minun ei tarvitse 
    osallistua ollenkaan ruotsin kielen tunneille, sillä kielitaitoni on niin vahva! 
    Jee, tosi hienoa, saan skipattua kuulemma koko kurssin! Asuin vuonna -98 Ruotsissa 
    ja opiskelin ruotsin kieltä Uppsalan yliopistossa, joten minun ei tarvitse käydä 
    perusasioita enää läpi. Sama juttu englannin kielessä, opettelen ainoastaan bisnes-sanastoa.

    Minusta onkin tulossa uusi jymyjuttu syyskuun Hymy-lehteen ensi viikolla. 
    Minusta otettiin Playboy-koekuvat vähän aikaa sitten, ja ne lähetetään Amerikan 
    Playboylle tarjolle. Kuvat ovat ”minun henkisiäni” – ne on toteutettu ”karkkimaassa” ja 
    Barbie-tyylisesti. Tapasimme sisareni Julian kanssa suomalaisen Playboy-kuvaaja 
    Jarmo Pohjaniemen Miamissa vuonna 2004 ja hän lähetteli minulle myös paljon meiliä. 
    Hän oli erittäin kiinnostunut meistä molemmista. Muistan että hän kehui meitä kauniiksi tytöiksi,
     mutta painoa olisi pitänyt kuulemma pudottaa.

</p>

</div>